@import '../globals.scss';

.login-panel {
    height: calc(100vh - 77px);
    .login-form {
        margin-top: 50%;
        .form-group {
            display: flex;
            align-items: center;
            #password, #email {
                border-color: $light-grey;
                border-radius: 0px 5px 5px 0px;
                padding: 20.5px;
            }
            .icon-wrap {
                border-color: $light-grey;
                border-style: solid;
                border-width: 1px 1px 1px .5px;
                border-radius: 5px 0px 0px 5px;
                padding: 6px;
            }
            .fa {
                color: $light-grey;
            }
        }
        .submit-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .register {
                color: $light-grey;
                &:hover {
                    cursor: pointer;
                    color: #333;
                    font-weight: 600;
                }
            }
        }
    }
}
.feature-img {
    background-image: url('../../assets/bg1.jpg');
    height: calc(100vh - 77px);
    background-position: center;
    background-size: cover;
    border-top: 2px solid #eee;
    position: relative;
    h1 {
        color: #fff;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
}
